@import url('https://fonts.googleapis.com/css?family=Lora:700|Roboto&subset=latin-ext');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2.2em;
  display: inline-block;
  margin-right: 20px;
  float: left;
}

.App-header {
  background-color: rgba(20,20,20,0.8);
  height: 2em;
  padding: 20px;
  color: white;
}

.App-header h1{
  display: inline-block;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Lora', serif;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
