@import url('https://fonts.googleapis.com/css?family=Lora:700|Roboto&subset=latin-ext');

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header h1{
  font-size: 1.5em;
  font-family: 'Lora', serif;
}

.App-title, .App-header, .App-header h1 {
  margin: 0;
}

.App-header p {
  margin: 0.4em 0 0 0;
}

.App-header p a:link, a:visited {
  text-decoration: none;
  color: #faa;
}

@media screen and (max-width: 1000px) {
  .App-header h1{
    font-size: 1.2em;
  }
  .App-header p {
    margin: 0.3em 0 0 0;
    font-size: 0.8em;
  }
  .App-header {
    padding: 10px;
  }
}