@import url('https://fonts.googleapis.com/css?family=Lora:700|Roboto&subset=latin-ext');

/*
* General App
*/
.App {
  text-align: center;
}

.App-header {
  background-color: #363434;
  padding: 1em 0 0.4em 0;
  color: white;
  z-index: 200;
}

.App-header h1{
  font-size: 1.5em;
  font-family: 'Lora', serif;
}

.App-title, .App-header, .App-header h1 {
  margin: 0;
}

.App-header p {
  margin: 0.4em 0 0 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #faa;
}


/*
* Error zone
*/
.error {
  font-size: 1.3em;
  padding: 0.2em;
  margin-top: 30vh;
}


/*
* Responsivity
*/
@media screen and (max-width: 1000px) {
  .App-header h1{
    font-size: 1.2em;
  }
  .App-header p {
    margin: 0.3em 0 0 0;
    font-size: 0.8em;
  }
  .App-header {
    padding: 0.8em 0 0.3em 0;
  }
}