.search-zone {
	background: #5c5757;
	padding: 0.2em;
}

.list-zone {
	position: relative;
}

.search-field {
	width: 19em;
	padding: 0.2em 0.4em;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1em;
	background-color: #efecec;
}