.list-venues {
	z-index: 100;
	overflow: auto;
}

.list-container , .list-venues {
	width: 16em;
	height: 100vh;
	background-color: #5c5757;
	position: absolute;
	top: 0px;
}

.list-visible {
	left: 0px;
}

.list-hidden {
	left: -16em;
}

.list-venues::-webkit-scrollbar {
  width: 6px;
  background-color: #6c6767;
}

.list-venues::-webkit-scrollbar-thumb {
  background-color: #363434;
  border-radius: 3px;
}

.list-venues h2 {
	margin: 0.2em 0 0 0;
	color: #efecec;
}

.venues-list {
	list-style: none;
	text-align: left;
	padding: 0.8em;
	margin: 0;
}

.venues-list li {
	padding: 0.3em;
	border-radius: 0.3em;
	margin: 0.2em 0;
	position: relative;
}

.venues-list li h3 {
	margin: 0;
	z-index: 100;
}

.venues-list li p {
	margin: 0.2em 0 0 0;
}

.unselected {
	background-color: #42727a;
}

.selected {
	background-color: #ffffdd;
}

.unselected h3 {
	color: #ffffdd;
}

.selected h3 {
	color: #363434;
}

.unselected p {
	color: #ffcccc;
}

.selected p {
	color: #5c5757;
}

.toggle {
	background: none rgb(255, 200, 200);
	border: 0px;
	margin: 10px;
	padding: 0px;
	position: absolute;
	cursor: pointer;
	user-select: none;
	border-radius: 2px;
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
	overflow: hidden;
	top: 50px;
	left: 256px;
	z-index: 100;
}

.venues-list li img {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	float: right;
}